.nav{
    display:flex;
    justify-content: space-around;
    background: linear-gradient(to right, black, green);
    height: 38px;
    align-items: center;
    padding:5px;
    margin-top:0px;
}
.nav div a{
    text-decoration: none;
    color:white;
    font-size:25px;
}
.nav div a:hover{
    color:green;
    font-size:30px;
}