.App {
  text-align: center;
 
}
html,
body {
  background:#000 url('https://data.whicdn.com/images/36280824/original.gif') no-repeat center center/cover;

  color:#fff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-attachment: fixed;
  background-size: 100% 100%;
}
