.box {
    /* Asignamos una altura mínima */
    min-height: 608px;
    
    background-image: url('../img/quimica.jpg');
    
   
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
 .box form input{
  margin-top:2rem;
  background-color: rgb(7, 255, 7);
  margin-bottom: 5px;
    

 }
  .detail a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    
  }
  .detail a:hover{
    font-size:30px;
    font-weight: bold;
   
  }
